extends layout

block append head
  script(src='/js/lobby.js')

block content
  a(href='https://github.com/eirikb/weecloud')
    img.fork(src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')

  .container
    .row
      .span12
        .hero-unit
          h1 WeeCloud
            small Synchronizing interwebs with your  
              a(href='http://weechat.org') WeeChat
    section#headsup
      .row
        .span12
          .alert.alert-error
            strong Beta Alpha Charlie!
            p 
              | Just to make it clear this site is under heavy development.
              | Even the version of WeeChat that supports this is not released yet.
            p 
              | The reason this page is available at this early point is because
              | it is 
              a(href='https://github.com/eirikb/weecloud') open source 
              | and can already be used locally anyway.
          .alert.alert-info 
            p Planned release date is:
            strong 1 March 2012
    section#connect
      .page-header
        h1 Connect to your WeeChat
      .row
        .span12
          form.well.form-inline(method='post', action='relay')
            .control-group
              input.input-medium(name='host', placeholder='Your host/IP', data-host=host)
              input.input-small(name='port', type='number', placeholder='Port')
              input.input-small(name='password', type='password', placeholder='Password')
              button.btn.btn-primary(type='submit')
                i.icon-chevron-right.icon-white
                |  Connect
            .control-group
              a#insert-ip.btn.btn-small(href='#') 
                i.icon-home
                | Insert your IP
            .control-group
              label
                input(type='checkbox')
                | Remember this connection 
                i.icon-info-sign.icon-yellow(
                  rel='popover'
                  data-original-title='Security warning',
                  data-content='Passwords are stored in plain text in your browser')
      #history.row(style='display:none')
        .span12
          h3 Remembered connections
          table.table.well.table-striped
            thead
              tr
                th Host
                th Port
                th 
            tbody
      h2 Help
      .row
        .span12
          p 
            a(href='http://www.weechat.org/download/devel') WeeChat 0.3.7-dev 
            | is required to connect WeeCloud to your weechat.
          p WeeChat Relay Protocol can be enabled like this:
          .well
            p /set relay.network.password test 
            p /relay add weechat 8000 test
          p 
