extends layout

block content
  span#desktop.visible-desktop

  #chat.hide
    #top
    #center.row-fluid
      ul#nav.nav.nav-pills.nav-stacked.pull-left.col-md-1
      #userlist.hidden-phone.pull-right
      #buffers
        .tab-content
    #input
      input(type='text')

  .container
    #connect.form-signin
      h2 WeeCloud 
        small= version
      #connect-container

      p.muted Enable relay in your WeeChat:
      pre.muted.
        /set relay.network.password &lt;pass&gt;
        /relay add weechat &lt;port&gt;
