extends layout

block content
  span#desktop.visible-desktop

  #chat.hide
    #top
    #center.row-fluid
      #nav.pull-left
        ul.nav
      #userlist.hidden-phone.pull-right
      #buffers
        .tab-content
    #input
      input(type='text')

  .container
    #connect.form-signin
      h2 WeeCloud 
        small= version
      ul.gh.list-unstyled
        li
          iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=eirikb&repo=weecloud&type=watch', allowtransparency=true,frameborder=0, scrolling=0, height='20px')
        li
          iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=eirikb&repo=weecloud&type=fork', allowtransparency=true, frameborder=0, scrolling=0, height='20px')
      //h3#loading Loading...
      #connect-container
      #error.alert.alert-error.hide

      p.muted Enable relay in your WeeChat:
      pre.muted.
        /set relay.network.password &lt;pass&gt;
        /relay add weechat &lt;port&gt;
