!!! 5
html
  head
    title WeeCloud
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')

    script
      var _gaq=_gaq || [];
      _gaq.push(['_setAccount','UA-28970140-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    .container-fluid
      .row-fluid
        .span12
          .tabbable.tabs-left
            ul#bufferlist.nav.nav-tabs
            #buffers.tab-content 

    script(type='text/template', id='server-menu-template')
      | <li id="server-<%= id %>" class="nav nav-header"><%= title %></li>

    script(type='text/template', id='buffer-menu-template')
      li 
        | <a href="#<%= id %>" data-toggle="tab"><%= title %></a>

    script(type='text/template', id='buffer-template')
      | <div class="tab-pane" id="<%= id %>"></div>

    script(type='text/template', id='message-template')
      | <div><%= text %></div>

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.7.0/backbone-relational.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.0-rc6-bundled/backbone.marionette.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js')

    script(src='/socket.io/socket.io.js')
    script(src='/js/models.js')
    script(src='/js/collections.js')
    script(src='/js/views.js')
    script(src='/js/app.js')
