!!! 5
html
  head
    block head
      title WeeCloud
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      link(rel='stylesheet', href='/css/bootstrap.min.css')

      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js')
  body
    block content
