!!! 5
html
  head
    title WeeCloud
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.css')
    each style in styles
      link(rel='stylesheet', href=style)

    if !dev
      include tracking.js

  body
    block content

    include templates

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
    //script(src='//cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.7.0/backbone-relational.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.0.3-bundled/backbone.marionette.min.js')

    //script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    //script(src='//cdnjs.cloudflare.com/ajax/libs/select2/3.4.0/select2.min.js')

    script(src='/socket.io/socket.io.js')
    each script in scripts
      script(src='/' + script)
