!!! 5
html
  head
    block head
      title WeeCloud
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.css')
      link(rel='stylesheet', href='/css/weecloud.css')

      //script(src='http://code.jquery.com/jquery.min.js')
      script(src='http://code.jquery.com/jquery.js')
      script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js')
      script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js')
      script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js')
      script(src='https://raw.github.com/marquete/kibo/master/kibo.js')

      include tracking
  body
    block content
