!!! 5
html
  head
    block head
      title WeeCloud
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      link(rel='stylesheet', href='/css/bootstrap.min.css')

      script(src='http://code.jquery.com/jquery.min.js')
  body
    block content
