extends layout

block append head
  link(rel='stylesheet', href='/css/lobby.css')
  script(src='/js/lobby.js')
  script(src='http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js')

block content
  header.jumbotron.subhead
    .container
      h1 WeeCloud
        p.lead 
          a(href='http://weechat.org') WeeChat 
          | in your browser
  .container
    section#headsup
      .row
        .span12
          #version.hide.alert.alert-success(data-version=version)
            strong New version (
              a(href='https://github.com/eirikb/weecloud/commits')= version
              | )
            p This browser has not seen this version before
    section#connect
      .row
        .span12
          form.well.form-inline(method='post', action='relay')
            .control-group
              input.input-medium(name='host', type='text', placeholder='Your host/IP')
              = ' '
              input.input-small(name='port', type='number', placeholder='Port')
              = ' '
              input.input-small(name='password', type='password', placeholder='Password')
              = ' '
            .control-group
              label.checkbox
                input(type='checkbox')
                | Remember this connection 
                a.icon-info-sign.icon-yellow.passinfo(
                  href='#'
                  title='Passwords are stored in plain text in your browser')
            button#connect-btn.btn.btn-primary(type='submit')
              i.icon-chevron-right.icon-white
              |  Connect
      #history.row(style='display:none')
        .span12
          h3 Remembered connections
          table.table.well.table-striped
            thead
              tr
                th Host
                th Port
                th 
            tbody
      h2#help Help
      .row
        .span12
          p 
            a(href='http://www.weechat.org/download') WeeChat 0.3.7  
            | is required to connect WeeCloud to your WeeChat.
          p WeeChat Relay Protocol can be enabled like this:
          pre
            | /set relay.network.password test 
            | /relay add weechat 8000
          p 
      h3 Running locally
      .row
        .span12
          pre
            | git clone https://github.com/eirikb/weecloud
            | cd weecloud
            | npm install
            | node app.js
          
  include tracking

