extends layout

block append scripts
  script#socket(src='/socket.io/socket.io.js', data-guid=guid)
  script(src='/js/models/message.js')
  script(src='/js/models/buffer.js')
  script(src='/js/collections/buffers.js')
  script(src='/js/views/buffer.js')
  script(src='/js/views/relay.js')
  script(src='/js/relay.js')

block content
  .container-fluid
    .row-fluid
      .span1
        label Bufferlist
        ul#buffers
      .span11
        label Chat
