extends layout

block append head
  script(src='/socket.io/socket.io.js')

  script(src='/js/changecolor.js')

  script(src='/js/main.js')
  script(src='/js/buffers.js')
  script(src='/js/input.js')

block content
  #header
    span stuff
  #center
    #channels
    #nicklist
    #chat
      #scroll
  #footer
