extends layout

block append head
  script(src='/socket.io/socket.io.js')

  script(src='/js/main.js')
  script(src='/js/buffers.js')
  script(src='/js/input.js')

block content
  .container-fluid
    #info.row-fluid
      .span12
        h1#status Connecting...
        a#retry(style='display:none', href='/') Try again
    #head
      .deck
        ul.nav.nav-tabs
    #main
      .deck.center
        #buffers(style='display:none')
          .tab-content
    #foot
      .deck
        input(type='text')
