extends layout

block append head
  script(src='/socket.io/socket.io.js')

  script(src='/js/changecolor.js')

  script(src='/js/main.js')
  script(src='/js/buffers.js')
  script(src='/js/channels.js')
  script(src='/js/input.js')
  script(src='/js/info.js')
  script(src='/js/color.js')

block content
  if guid
    input#guid(type='hidden', value=guid)
  #header
    span#important.hide.label.label-important
    span#info.label.label-info Connecting...
    a#home.hide(href='/') Home
  #center
    #channels
    #nicklist
    #buffers
  #footer
    input(type='text')
