extends layout

block append head
  script(src='/socket.io/socket.io.js')

  script(src='/js/changecolor.js')

  script(src='/js/main.js')
  script(src='/js/buffers.js')
  script(src='/js/input.js')
  script(src='/js/info.js')

block content
  if guid
    input#guid(type='hidden', value=guid)
  #header
    span#error.hidden.label.label-error
    span#info.label.label-info Connecting...
  #center
    #channels
    #nicklist
    #chat
      #scroll
  #footer
