extends layout

block append head
  link(rel='stylesheet', href='/css/layout.css')
  link(rel='stylesheet', href='/css/design.css')

  script(src='/socket.io/socket.io.js')

  script(src='https://raw.github.com/marquete/kibo/master/kibo.js')
  script(src='https://raw.github.com/eirikb/changecolor/master/changecolor.min.js')
  script(src='/js/lib/bootstrap.min.js')

  script(src='/js/main.js')
  script(src='/js/buffers.js')
  script(src='/js/bufferlist.js')
  script(src='/js/input.js')
  script(src='/js/info.js')
  script(src='/js/color.js')
  script(src='/js/date.js')

block content
  #preview.modal.hide.fade
    .modal-header
    .modal-body
      iframe#preview-content
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Close
  a.btn(href='#preview', role='button', data-toggle='modal') Preview
  if guid
    input#guid(type='hidden', value=guid)

  #header
    span#important.hide.label.label-important
    span#warning.hide.label.label-warning
    span#info.label.label-info Connecting...
    a#home.hide(href='/') Home
    select.hide

  #center
    #bufferlist
      label.checkbox Sync movement
        input#syncmovement(type='checkbox')
      ul.nav
    #nicklist
    #buffers

  #footer
    input.input-xxlarge(type='text')
