script(type='text/template', id='server-nav-template')
  li
    a(data-toggle='collapse', href!='#server-<%= id %>')
      | <%= title %>
    ul.nav.collapse(id!='server-<%= id %>')

script(type='text/template', id='buffer-nav-template')
  li 
    a(href!='#<%= id %>') 
      span.badge
      | <%= title %>
