script(type='text/template', id='server-menu-template')
  li
    a(data-toggle='collapse', href!='#server-<%= id %>')
      | <%= title %>
    ul.nav.collapse(id!='server-<%= id %>')

script(type='text/template', id='buffer-menu-template')
  li 
    a(href!='<%= id %>') 
      span.badge
      | <%= title %>

script(type='text/template', id='buffer-template')
  .tab-pane(id='<%= id %>')

script(type='text/template', id='message-template')
  | <div class="message <%= highlight && 'alert-success' %> <%= type !== 'message' && 'muted' %> ">
  |   <a <% if (type === 'message') { %> class="label nick" <% } %> href="#"><%= from %></a>
  |   <%= text %>
  |   <span class="muted pull-right">
  |     <%- moment(date).formatTimeToday() %>
  |   </span>
  | </div>

script(type='text/template', id='user-list-template')
  ul.unstyled

script(type='text/template', id='user-template')
  li
    a(href='#')
      | <%= title %>

script(type='text/template', id='dropdown-buffer-template')
  optgroup(label!='<%= title %>')

script(type='text/template', id='dropdown-option-buffer-template')
  option(value!='<%= id %>')
    | <%= title %>
