body {
    background-color: #555;
    color: #aaa;
    font-family: arial, sans-serif;
    font-size: small;
}

#header, #footer {
    background-color: #333;
    color: #eee;
    border-bottom: 1px solid #222;
}

#footer {
    background-color: #444;
    border-top: 3px solid #444;
    border-bottom: 1px solid #444;
}

#buffers {
    background-color: #383838;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    padding-left: 8px;
}

#channellist, #nicklist {
    background-color: #555;
    border-right: 1px solid #666;
}

#channellist a {
    display: block;
    width: 120px; height: 25px;
    padding-left: 6px;
    line-height: 25px;
    color: #ddd;
    background-color: #9E3140;
    border-color: #BD3B4C #872A36 #444 #BD3B4C;
    margin-bottom: 5px;
    margin-left: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

#channellist .active {
    background-color: #872A36;
    border-color: #333 #555 #555 #333;
}

input {
    background-color: #555;
    border-color: #222 #999 #999 #222;
    border-style: solid;
    border-width: 1px 0 0 1px;
    padding-left: 8px;
}
