body {
    background-color: #555;
    color: #aaa;
    font-family: arial, sans-serif;
    font-size: small;
}

#header, #footer {
    background-color: #333;
    color: #eee;
    border-bottom: 1px solid #222;
}

#header {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
    font-family: Tahoma;
    color: #ccc;
    line-height: 27px;
    text-indent: 8pt;
    background-image: -moz-linear-gradient(top , #333333, #222222);
    background-image: -webkit-linear-gradient(top, #333333 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
}    
#footer {
    background-color: #333;
    border-top: 3px solid #333;
    /*border-bottom: 1px solid #444;*/
}

#buffers {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #1E1E1E;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    padding-left: 8px;
}

#bufferlist, #nicklist {
    background-color: #444;
    border-right: 1px solid #666;
}

#bufferlist a {
    display: block;
    width: 120px; 
    height: 25px;
    padding-left: 6px;
    line-height: 25px;
    color: #ddd;
    background-color: #872A36;
    margin-bottom: 5px;
    margin-left: 4px;
    border-color: #333 #555 #555 #333;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

#bufferlist .active {
    background-color: #888;
    border-color: #aaa #777 #666 #9a9a9a;
    color: #ccc;
    border-radius: 0;
    -color: #414141;
    background-image: -moz-linear-gradient(center top , #555555, #222222);
    background-image: -webkit-linear-gradient(top, #333 0%,#222 100%); /* Chrome10+,Safari5.1+ */    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
}

input {
    color: #FFF;
    background-color: #555;
    border-color: #222 #999 #999 #222;
    border-style: solid;
    border-width: 1px 0 0 1px;
    padding-left: 8px;
}
