body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#content, #footer, #center {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#header, #footer {
    height: 35px;
}

#footer {
    bottom: 0;
}

#center {
    top: 37px;
    bottom: 37px;
}

#buffers {
    height: 100%;
    word-wrap: break-word;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#bufferlist, #nicklist {
    width: 160px;
    height: 100%;
    overflow: hidden;
}

#bufferlist {
    float: left;
}

#nicklist {
    float: right;
}

input {
    width: 100%; 
    height: 30px;
    margin-left: 160px;
}

@media (max-width: 480px) { 
    #bufferlist, #nicklist, #hidebufferlist {
        display: none;
    }
    input {
        margin-left: 0;
    }
    select.hide {
        display: inline-block;
    }
}
