#center {
  top: 28px;
  left: 0;
  bottom: 43px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 979px) {
  #center {
    top: 30px;
  }
}

#buffers {
  overflow-y: scroll;
  height: 100%;
}

#userlist {
  padding: 15px;
  overflow: scroll;
  height: 100%;
}

#input {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin-left: 5%;
}

#input input {
  width: 100%;
}

.message {
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
}

.box {
  margin: 15px 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.message.well-small {
  padding: 2px;
}

#dropdown-buffers {
  margin-left: 32px;
}   

#total-activity {
  position: absolute;
  margin: 5px;
}

#top {
  position: absolute;
  left: 5px;
  right: 15px;
  top: 0;
}
