#center {
  top: 0;
  bottom: 30px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#buffers {
  overflow-y: scroll;
  height: 100%;
}

#input {
  position: absolute;
  bottom: 0;
  width: 50%;
  margin-left: 5%;
}

#input input {
  width: 100%;
}
