input, input[type=checkbox] {
    margin-right: 4px;
}

.fork {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0; 
    z-index: 50;
}


.buffer {
    overflow-y: scroll;
    height: 100%;
}

.tab-content > div {
    height: 100%;
}

.buffer p {
    margin-bottom: 0px;
}

input[type="text"] {
    width: 100%;
}
