#head {
    top: 0;
    height: 44px;
}
#head .deck {
    height: 42px;
}

#main {
    top: 44px;
    bottom: 48px;
}

#foot {
    bottom: 0;
    height: 48px;
}
#foot .deck {
    height: 47px;
}

#head, #main, #foot {
    position: absolute;
    width: 100%;
    left: 0;
    overflow: hidden;
}

#main .center {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.left, .right, .center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input, input[type=checkbox] {
    margin-right: 4px;
}

.fork {
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0; 
    z-index: 50;
}

input[type="text"] {
    width: 99%;
}
